@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Auction House!</h1>
    <p>
        Head over to the @Html.ActionLink("list of ongoing auctions", "Index", "Auction") now!
    </p>
</div>
